<div id="home">
  <div class="inner cover">
    <h1 class="cover-heading">Find R packages with ease.</h1>
    <p class="lead">A small web interace to find & download R packages from the CRAN network.</p>
    <p class="lead">
      <%= link_to 'All R Packages', r_packages_path, class: 'btn btn-lg btn-secondary' %>
    </p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>Web Interface for <a href="https://cran.r-project.org">The Comprehensive R Archive Network</a> by <a href="https://www.github.com/felixmohnert">Felix Mohnert</a>.</p>
    </div>
  </div>
</div>
